<footer>
    <div class="f-info">
        <div class="info-soical">
            <a><i class="fa-brands fa-instagram"></i></a>
            <a><i class="fa-brands fa-linkedin"></i></a>
            <a><i class="fa-brands fa-facebook"></i></a>
        </div>
        <div class="f-info-brand">&copy; WanderLust Pvt.Ltd</div>
        <div class="f-info-links">
            <a href="/Privacy">Privacy</a>
            <a href="/Terms">Terms</a>
        </div>
    </div>
</footer>
